<%- include('header') %>
    <section id="form">
        <!--form-->
        <div class="container">
            <div class="row">
                <div class="col-sm-4 col-sm-offset-1">
                    <div class="login-form">
                        <!--login form-->
                        <h2>Login to your account</h2>
                        <form action="/login" method="post">
                            <input type="email" name="email" placeholder="Email Address" />
                            <input type="password" name="password" placeholder="Password" />
                            <button type="submit" id="login-form-submit" class="btn btn-default">Login</button>
                        </form>
                        <p id="error-text"></p>
                    </div>
                    <!--/login form-->
                </div>
                <div class="col-sm-1">
                    <h2 class="or">OR</h2>
                </div>
                <div class="col-sm-4">
                    <div class="signup-form">
                        <!--sign up form-->
                        <h2>New User Signup!</h2>
                        <form action="register" method="post" id="register-form">
                            <input type="text" name="Name" placeholder="Name" />
                            <input type="email" name="email" placeholder="Email Address" />
                            <input type="text" name="Mobile" placeholder="Mobile number" />
                            <input type="password" name="password" placeholder="Password" />
                            <input type="password" name="cpassword" placeholder="Confirm Password" />
                            <button type="submit" class="btn btn-default" id="register-form-submit">Signup</button>
                            <p id="register-from-error"></p>
                        </form>
                    </div>
                    <!--/sign up form-->
                </div>
            </div>
        </div>
    </section>
    <!--/form-->
    <%- include ('footer') -%>